# Data files
scrapy/data/*
!scrapy/data/animals.json

# Temporary Test Files
example.html
example2.html

# Scrapy Runtime
scrapy/jobstate/

# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
